
<style>
body {
background-image:url("http://cdn.wonderfulengineering.com/wp-content/uploads/2014/09/yellow-wallpaper-12.jpg");
}
</style>

{{outlet}}
<center>
<img src="https://www.uvu.edu/diningservices/images/tacobell_header.png" alt="some tasty tacos">
<big><h1>What can I get at Taco Bell?</h1></big>
{{money-setter pushData='printData' max=totalCost}}

{{#if isEmpty}}
  {{#each finalList as |thing|}}
  thing.title
  {{/each}}
{{/if}}
</center>